{% extends 'sample.html' %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{%block title%}Отправить сообщение{% endblock %}

<body>
{%block body%}
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" action="" method="post">
                      <h3 class="text-center text-info">Отправка сообщения пользователю {{info.post_creator_name}} </h3>

                      {%for message in get_flashed_messages()%}
                      <h3 class="text-center text-info">{{message}}</h3>
                      {%endfor%}

                      <div class="form-group">
                          <label for="username" class="text-info">Тема</label><br>
                          <input type="text" name="theme" id="theme" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Текст сообщения</label>
                          <textarea class="form-control" name="send_text" id="send_text" rows="4"></textarea>
                      </div>                      
                               
                        </div>

                      <div class="form-group">
                          <input type="submit" style="display: block; margin: 0 auto;" name="submit" value="Отправить сообщение" class="btn btn-info btn-md" value="submit">
                      </div>
                      </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
</body>