{% extends 'sample.html' %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{%block title%}Страница регистрации{% endblock %}

<body>
{%block body%}
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" action="" method="post">
                      <h3 class="text-center text-info">Регистрация нового пользователя</h3>

                      {%for message in get_flashed_messages()%}
                      <h3 class="text-center text-info">{{message}}</h3>
                      {%endfor%}

                      <div class="form-group">
                          <label for="username" class="text-info">Имя пользователя:</label><br>
                          <input type="text" name="login" id="username2" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="password" class="text-info">Пароль:</label><br>
                          <input type="password" name="password" id="password2" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="password" class="text-info">Потвердите пароль:</label><br>
                        <input type="password" name="password2" id="password2_1" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="subject">Ваш университет/Общежитие</label>
                            <select class="form-control" name="tip" id="tip">
                                {% for el in el %} 
                                    <option value="{{el.name}}">{{el.name}}</option>
                                {%endfor%}
                                <option value="Не указан">Не указан</option>
                            </select>
                        </div>

                      <div class="form-group">
                          <label for="remember-me" class="text-info"><span>Запомнить меня</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                          <input type="submit" name="submit" value="Зарегистрировать" class="btn btn-info btn-md" value="submit">
                      </div>
                      <div id="register-link" class="text-right">
                          <a href="{{url_for('login')}}" class="text-info">Страница авторизации</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
</body>