{% extends 'sample.html' %}
<html>

<head>
    {%block title%}Добавить обьявление{% endblock %}   
</head>

<body>
    {%block body%}
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Добавить обьявление</h2>
                </div>

                

                <form method="POST" enctype="multipart/form-data">
                    {%for message in get_flashed_messages()%}
                    <div class="flash"><h2>{{message}}</h2></div>
                    {%endfor%}
                    <div class="form-group"><label for="subject">Тип обьявления</label><select class="form-control" name="tip" id="tip"><option value="" selected="">Выбери тип</option><option value="1">Выбор 1</option><option value="2">Выбор 2</option><option value="3">Выбор 3</option></select></div>
                    <div class="form-group"><label for="Name">Название</label><input class="form-control" name="name" id="name"></div>
                    <div class="form-group"><label for="message">Описание</label><textarea class="form-control" name="description" id="description"></textarea></div>
                    <div class="form-group"><label for="Price">Цена</label><input class="form-control" name="price" id="price"></div>
                    <div class="form-group"><div class="form-row">
                        <p>Загрузка превьюшки</p>
                        <p><input type="file"  name="file"></p>
                        
                    
                </div>              
            </div>
                
                <div class="form-row">
                    <div class="col-md-6 button"><button class="btn btn-primary btn-block" type="submit">Подать</button></div>                    
                </div>                
            </form>
            </div>
        </section>
    </main>    
    {%endblock%}
</body>

</html>